<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='project.css') }}" />
  
</head>

<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/contact/">Contact</a>
    <a href="/about/">About</a>
  </div>

    <!-- needs: 
    project name
    libraries used
    github link
    youtube link
        return render_template(template,
        title = file_name,
        maintext=longtext,
        githublink = gtlink,
        youtubeLink = ytlink)

     -->


  <body>
    <h1>Project: {{title}}</h1>
    <div id="bottomtext">
      <p>{{githublink}}.</p>
    </div>

    <div id="container">
     
        <div id="first">
            <iframe width="800" height="615" id="youtubebox"
            src= {{youtubeLink}} >
        </iframe> 
        </div>

        <div id="second">
            <p>{{maintext}}.</p>
            <div>
              <p>{{secondtext}}</p>
            </div>

            <div>
              <p>{{lasttext}}</p>
            </div>
        </div>


    </div>


    
    
  </body>




<footer>
    <svg viewBox="0 -20 700 110" width="120%" height="130" preserveAspectRatio="none">
      <path transform="translate(0, -30)" d="M0,10 c80,-22 240,0 350,18 c90,17 260,7.5 350,-20 v50 h-700" fill="#EE82EE" />
      <path d="M0,10 c80,-18 230,-12 350,7 c80,13 260,17 350,-5 v100 h-700z" fill="#8B008B" />
    </svg>
  </footer>

</html>